.menuHeadContainer{
    height: 85vh;
    background: linear-gradient(rgba(10, 10, 10, 0.897),rgba(0, 0, 0, 0.288),rgba(10, 10, 10, 0.829)) , url(../../../images/MenuBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.menuHeadContainer h1{
    font-family: 'DIN-BOLD';
    font-size: 4rem;
    color: var(--main-color);
    transform: translateY(300px);
    opacity: 0;
    transition-property: transform opacity;
    transition-duration: 1400ms;
    transition-delay: 1s;
}

.menuHeadContainer h1.fadeIn{
    opacity: 1;
    transform: translateY(0%);
}

.menuBody{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    padding: 2rem 0rem;
    justify-content: center;
    align-items: center;
}

.menu{
    position: relative;
    background-color: white;
    width: 32%;
    height: 600px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    transition: 1s;
}

.menu .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: black;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .imgBox h4{
    color: var(--main-color);
    font-family: 'BURENO-LIGHT';
    font-size: 5rem;
    z-index: -1;
    transform: rotateY(180deg);
}

/* Trigger menu open animation */

.menu:hover{
    transform: translateX(50%);
}

.menu:hover .imgBox{
    transform: rotateY(-180deg);
    border-left: 0.4px solid #f1c760;
}

.menu .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform-style: preserve-3d;
    backface-visibility: hidden;  /* on rotation will hide image on backside and show background color only */
}

.menu .imgBox img:nth-child(2){
    z-index: -2;
    transform: rotateY(180deg);
}

.content{
    background:url(../../../images/Menu/Menu\ G....jpg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content h4:nth-child(1){
    color: var(--main-color);
    padding: 1rem;
    margin: 0rem;
    display: flex;
    z-index: 0;
    justify-content: center;
}

.content h3{
    text-align: start;
    color: var(--main-color);
    font-family: 'DIN-BOLD';
    padding: 0.4rem 0rem 0.4rem 1rem;
    border-bottom: 2px solid var(--main-color);
    z-index: 0;
    font-size: 1.2rem;
    margin: 0rem;
}

.content h4:nth-child(1) span{
    font-family: 'DIN-BOLD';
    position: relative;
    font-size: 2rem;
}

.content h4:nth-child(1) span::before{
   content: '';
   position: absolute;
   bottom: -15%;
   left: 0%;
   height: 2px;
   width: 0%;
   background-color:var(--main-color);
   transition: width 500ms;
}

.content h4:nth-child(1) span:hover::before{
    width: 100%;
}

.content ul{
  margin: 0px;
  padding: 0px;   
  list-style: none;
}

.content ul li{
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin: 1rem 0rem;
    transform: scale(0.9,0.9);
    transition: transform 300ms;
}

.content ul li p{
    display: flex;
    font-weight: bolder;
    width: 80%;
    margin: 0rem;
    font-size: 0.75rem;
}

.content ul li:hover{
    transform: scale(1,1);
}

.content ul li p::before{
    content: "";
    border-color: transparent var(--main-color);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0px;
    width: 16px;
    top: 7%;
    position: relative;
    z-index: 2;
}

@media screen and (max-width:1000px){
    
    .menuHeadContainer{
        height: 63vh;
        background-position: 8%;
    }
    .menuHeadContainer h1{
        font-size: 4.5rem;
    }
    .menuBody{
        min-height: 45vh;
    }
    .menu{
        width: 36%;
        height: 486px;
    }
    .menu .imgBox h4{
        font-size: 4.5rem;
    }
    .content h4:nth-child(1){
        padding: 0.9rem 0rem;
    }
    .content h4:nth-child(1) span{
        font-size: 1.5rem;
    }
    .content h3{
        padding: 0.4rem 0rem 0.2rem 0.4rem;
        font-size: 0.9rem;
    }
    .content ul li p , .content ul li span{
        font-size: 0.6rem;
    }
    .content ul li{
        margin: 0.5rem 0rem;
    }
}

@media screen and (max-width:860px){
    
    .menuHeadContainer{
        height: 65vh;
        background-position: 11%;
    }
    .menuHeadContainer h1{
        font-size: 4rem;
    }
    .menuBody{
        min-height: 50vh;
    }
    .menu{
        width: 38%;
        height: 459px;
    }
    .menu .imgBox h4{
        font-size: 4rem;
    }
    .content h4:nth-child(1){
        padding: 0.9rem 0rem;
    }
    .content h4:nth-child(1) span{
        font-size: 1.5rem;
    }
    .content h3{
        padding: 0.4rem 0rem 0.2rem 0.4rem;
        font-size: 0.8rem;
    }
    .content ul li p , .content ul li span{
        font-size: 0.6rem;
    }
}

@media screen and (max-width:600px){
    
    .menuHeadContainer{
        background-position: 7%;
    }
    .menuHeadContainer h1{
        font-size: 3rem;
    }
    .menu{
        width: 43%;
        height: 330px;
    }
    .menu .imgBox h4{
        font-size: 3rem;
    }
    .menu{
        width: 43%;
        height: 361px;
    }
    .content h4:nth-child(1){
        padding: 0.7rem 0rem;
    }
    .content h4:nth-child(1) span{
        font-size: 1.2rem;
    }
    .content h3{
        padding: 0.4rem 0rem 0.3rem 0.4rem;
        font-size: 0.69rem;
    }
    .content ul li p , .content ul li span{
        font-size: 0.47rem;
    }
}

@media screen and (max-width:414px) {
    
    .menuHeadContainer{
        height: 70vh;
    }
    .menuHeadContainer h1{
        font-size: 2rem;
    }
    .menuBody{
        min-height: 30vh;
    }
    .menu{
        width: 44%;
        height: 253px;
    }
    .menu .imgBox h4{
        font-size: 2rem;
    }
    .content h4:nth-child(1){
        padding: 0.5rem 0rem;
    }
    .content h4:nth-child(1) span{
        font-size: 0.9rem;
    }
    .content h3{
        padding: 0.2rem 0rem 0.2rem 0.2rem;
        font-size: 0.5rem;
    }
    .content ul li p , .content ul li span{
        font-size: 0.38rem;
    }
    .content ul li{
        margin: 0.3rem 0rem;
    }
}

@media screen and (max-width:330px) {
    
    .menuHeadContainer{
        height: 61vh;
        background-position: 18%;
    }
    .menuHeadContainer h1{
        font-size: 2rem;
    }
    .menu{
        width: 44%;
        height: 187px;
    }
    .menu .imgBox h4{
        font-size: 1.5rem;
    }
    .content h4:nth-child(1){
        padding: 0.4rem 0rem;
    }
    .content h4:nth-child(1) span{
        font-size: 0.8rem;
    }
    .content h3{
        padding: 0.2rem 0rem 0.1rem 0.2rem;
        font-size: 0.4rem;
    }
    .content ul li p , .content ul li span{
        font-size: 0.25rem;
    }
}

