@font-face {
  font-family: 'DIN-BOLD';
  src: url(../../../Fonts/DIN-Bold.ttf);
}

.aboutHeaderContainer{
  height: 100vh;
  background: linear-gradient(rgba(10, 10, 10, 0.897),rgba(0, 0, 0, 0.288),rgba(10, 10, 10, 0.829)) , url(../../../images/club-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutHeaderContainer h1{
  font-family: 'DIN-BOLD';
  font-size: 4rem;
  color: #ffffff;
  transform: translateY(300px);
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 1400ms;
  transition-delay: 1s;
}

.aboutHeaderContainer h1.fadeIn{
   opacity: 1;
   transform: translateY(0%);
}

.aboutBody{
  background-color: #EFEDE8;
  min-height: 400vh;
  padding: 2rem 1rem;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

@media screen and (max-width:696px) {
    
  .row{
      flex-direction: column;
  }

}
