@font-face {
  font-family: 'DIN-BOLD';
  src: url(../../../Fonts/DIN-Bold.ttf);
}

.aboutContainer{
  height: 100vh;
  background: linear-gradient(rgba(10, 10, 10, 0.897),rgba(0, 0, 0, 0.288),rgba(10, 10, 10, 0.829)) , url(../../../images/club-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer h1{
  font-family: 'DIN-BOLD';
  font-size: 4rem;
  color: #ffffff;
  transform: translateY(300px);
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 1400ms;
  transition-delay: 1s;
}

.aboutContainer h1.fadeIn{
   opacity: 1;
   transform: translateY(0%);
}