 .aboutHeaderContainer{
  height: 85vh;
  background: linear-gradient(rgba(10, 10, 10, 0.897),rgba(0, 0, 0, 0.288),rgba(10, 10, 10, 0.829)) , url(../../../images/club-image.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.aboutHeaderContainer h1{
  font-family: 'DIN-BOLD';
  font-size: 4rem;
  color: var(--main-color);
  transform: translateY(300px);
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 1400ms;
  transition-delay: 1s;
}

.aboutHeaderContainer h1.fadeIn{
   opacity: 1;
   transform: translateY(0%);
}

.aboutBody{
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 2rem 1rem;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

@media screen and (max-width:962px){
   
  .aboutHeaderContainer{
     height: 70vh;
  }
  .aboutHeaderContainer h1{
    font-size: 6rem;
  }
  .row{
    margin-top: 2rem;
  }
}

@media screen and (max-width:1400px) {
    
  .row:last-child{
    margin-top: -2rem;
  }
}

@media screen and (max-width:1060px){
   
  .aboutHeaderContainer h1{
    font-size: 6rem;
  }
  .row:last-child{
    margin-top: 1rem;
  }

}

@media screen and (max-width:696px) {
    
  .row{
      flex-direction: column;
  }
  .row{
    margin-top: 2rem;
  }

}

@media screen and (max-width:540px){
   
  .aboutHeaderContainer{
     height: 65vh;
  }

  .aboutHeaderContainer h1{
    font-size: 3.5rem;
  }

}

@media screen and (max-width:414px){
   
  .aboutHeaderContainer{
     height: 65vh;
  }

  .aboutHeaderContainer h1{
    font-size: 3.6rem;
  }

}

@media screen and (max-width:280px){
   
  .aboutHeaderContainer h1{
    font-size: 3rem;
  }

}