
.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #F1C761;
    transform: rotate(calc(36deg*var(--i)));
    transform-origin: 0 50px;
    top: 0;
    transition: 0.5s;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
    0%{
        transform: rotate(calc(36deg*var(--i)));
    }
    50%{
        transform: rotate(-360deg);
        filter: hue-rotate(360deg);
    }
    100%{
        transform: rotate(calc(36deg*var(--i)));
    }
}