.serviceHeader{
    height: 85vh;
    background: url(../../../images/Services\ banner\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.serviceHeader h1{
    font-family: 'DIN-BOLD';
    font-size: 4rem;
    color: #ffffff;
    transform: translateY(300px);
    opacity: 0;
    transition-property: transform opacity;
    transition-duration: 1400ms;
    transition-delay: 1s;
}

.serviceHeader h1.fadeIn{
    opacity: 1;
    transform: translateY(0%);
}

.serviceBody{
    background-color: var(--background-color);
    min-height: 100vh;
    padding: 2rem 1rem;
}

.row{
    display: flex;
    justify-content: space-around;
    margin-top: 1.4rem;
    align-items: center;
}

/* Css for changing image width in each row */
.serviceBody .row:nth-child(2) div:nth-child(2){
    width: 33%;
}
.serviceBody .row:nth-child(3) div:nth-child(2){
    width: 24%;
}
.serviceBody .row:nth-child(4) div:nth-child(2){
    width: 30%;
    margin-top: 2rem;
}

@media screen and (max-width:950px) {
    
    .serviceBody .row:nth-child(2) div:nth-child(2){
        width: 40%;
    }

    .serviceHeader{
        height: 72vh;
    }

    .serviceHeader h1{
        font-size: 6rem;
    }
}
 
@media screen and (max-width:820px){
     
    .aboutHeaderContainer h1{
      font-size: 6rem;
    }

    .serviceHeader{
        height: 73vh;
    }

    .serviceHeader h1{
        font-size: 6rem;
    }
  
}

@media screen and (max-width:711px){

    .serviceBody .row:nth-child(2) div:nth-child(2){
        width: 40%;
    }

}

@media screen and (max-width:574px) {
    
    .row{
        flex-direction: column;
        margin-top: 1rem;
    }
    
    .serviceBody .row:nth-child(2) div:nth-child(2){
        width: 70%;
    }
    .serviceBody .row:nth-child(3) div:nth-child(2){
        width: 70%;
    }
    .serviceBody .row:nth-child(4) div:nth-child(2){
        width: 70%;
        margin-top: 0rem;
    }

    .serviceHeader{
        height: 60vh;
    }

    .serviceHeader h1{
        font-size: 3.4rem;
    }
}    

@media screen and (max-width:540px) {
    
    .serviceHeader{
        height: 72vh;
    }

}

@media screen and (max-width:440px) {
    
    .serviceHeader{
        height: 70vh;
    }
    .serviceBody{
        padding: 1rem 1rem;
    }
}

@media screen and (max-width:280px){
     
    .serviceHeader h1{
      font-size: 2.6rem;
    }
  
}