@font-face {
    font-family:'DIN-BOLD';
    src: url(../../../Fonts/DIN-Bold.ttf);
}

.serviceHeader{
    height: 85vh;
    background: url(../../../images/Services\ banner\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.serviceHeader h1{
    font-family: 'DIN-BOLD';
    font-size: 4rem;
    color: #ffffff;
    transform: translateY(300px);
    opacity: 0;
    transition-property: transform opacity;
    transition-duration: 1400ms;
    transition-delay: 1s;
}

.serviceHeader h1.fadeIn{
    opacity: 1;
    transform: translateY(0%);
}

.serviceBody{
    background-color: #EFEDE8;
    min-height: 100vh;
    padding: 2rem 1rem;
}

.row{
    display: flex;
    justify-content: space-around;
    margin-top: 1.4rem;
    align-items: center;
}

/* Css for changing image width in each row */
.serviceBody .row:nth-child(2) div:nth-child(2){
    width: 33%;
}
.serviceBody .row:nth-child(3) div:nth-child(2){
    width: 24%;
}
.serviceBody .row:nth-child(4) div:nth-child(2){
    width: 30%;
    margin-top: 2rem;
}

@media screen and (max-width:950px) {
    
    .serviceBody .row:nth-child(2) div:nth-child(2){
        width: 40%;
    }
}

@media screen and (max-width:711px){

    .serviceBody .row:nth-child(2) div:nth-child(2){
        width: 40%;
    }

}

@media screen and (max-width:574px) {
    
    .row{
        flex-direction: column;
        margin-top: 1rem;
    }
    
    .serviceBody .row:nth-child(2) div:nth-child(2){
        width: 70%;
    }
    .serviceBody .row:nth-child(3) div:nth-child(2){
        width: 70%;
    }
    .serviceBody .row:nth-child(4) div:nth-child(2){
        width: 70%;
        margin-top: 0rem;
    }
}    