@font-face {
    src: url(../../../Fonts/DIN-Bold.ttf);
    font-family:'DIN-BOLD';
}
@font-face {
    src: url(../../../Fonts/DIN-Light.ttf);
    font-family:'DIN-LIGHT';
}


.bodyTwoContainer{
    min-height: 55vh;
    background-color: #1e1e1e;
    padding: 3rem 1rem 1rem 2rem;
    overflow: hidden;
}

.bodyTwoMain{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.imgContainer{
    max-width: 50%;
    display: flex;
    align-items: center;
}

.imgContainer img{
    object-fit: contain;
}

.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2rem 0px 4rem;
    width: 50%;
}

.imgContainer img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
}

.upperText h1{
  font-size:2.4rem;
  font-weight: bolder;
  color:white;
  font-family: 'DIN-BOLD';
}

.upperText p{
    color: #828282;
    font-family: 'DIN-LIGHT';
    font-size: 1.2rem;
    font-weight: bolder;
}

.lowerText ul{
    color :#828282;
    list-style: none;
    font-family: 'DIN-LIGHT';
    font-size: 1.2rem;
    font-weight: bolder;
    padding-left: 1rem;
}

.lowerText ul li::before{
    content: "\2022";  
    color: #F1C761; 
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
}

@media screen and (max-width:920px) {
    
    .bodyTwoContainer{
        padding: 3rem 1rem 1rem 1rem;
        min-height: 30vh;
    }

    .upperText h1{
        font-size: 1.8rem;
    }

    .upperText p{
        font-size: 0.97rem;
    }

    .lowerText ul{
        padding-left: 1rem;
    }
}

@media screen and (max-width:800px) {
    
    .bodyTwoMain{
        flex-direction: column;
    }
    .imgContainer{
        max-width: 100%;
        width: 93%;
    }
    .textContainer{
        width: 100%;
        margin-top: 3rem;
        padding: 0px;
    }
    .upperText h1{
        text-align: center;
    }
    
    .imgContainer{
        width: 97%;
    }

    .imgContainer img{
        width: 100%;
    }

    .textContainer{
        margin-top: 2rem;
    }

    .upperText h1{
        font-size: 3rem;
        text-align: center;
    }

    .upperText p{
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: justify;
    }

    .lowerText ul{
        font-size: 1.3rem;
    }

}

@media screen and (max-width:600px) {
    
    .bodyTwoContainer{
      padding: 3rem 1rem 1rem 1rem;
    }

    .imgContainer{
        width: 100%;
    }

    .textContainer{
        margin-top: 2rem;
    }

    .upperText p{
        margin-top: 1rem;
    }    
}

@media screen and (max-width:540px) {
    
    .upperText h1{
      font-size: 2rem;
      text-align: center;
    }

    .upperText p{
      font-size: 1rem;
    }

    .lowerText ul{
      font-size: 1rem;
    }

}

@media screen and (max-width:280px) {
    
    .upperText h1{
      font-size: 1.4rem;
      text-align: center;
    }

    .upperText p{
      font-size: 0.7rem;
    }

    .lowerText ul{
      font-size: 0.7rem;
      padding-left: 0.6rem;
    }

}