@font-face {
    src: url(../../../Fonts/Hallies.otf);
    font-family:'Hallies' 
}
@font-face {
    src: url(../../../Fonts/DIN-Bold.ttf);
    font-family:'DIN-BOLD' 
}

.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: calc( 110vh - 116px );
    background:linear-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.671),rgba(0, 0, 0, 0.24)) , url(../../../images/areial-view.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 300ms ease;
}

.beerImg{
    height: 85%;
    animation: beer 6s ease 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
    z-index: 3;
    transition: opacity 200ms;
    position: relative;
    filter: opacity(0.82);
    z-index:1
}

.beerText{
    font-size: 13rem;
    position: absolute;
    top: 0%;
    color: white;
    font-family: 'DIN-BOLD';
    z-index:1
}

.beerText:nth-of-type(1){
    left: -187%;
}

.beerText:nth-of-type(2){
    left: -121%;
}

.beerText:nth-of-type(3){
    left: -99%;
}

.beerText:nth-of-type(4){
    left: -32%;
    z-index: 0;
}

.beerText:nth-of-type(5){
    left: 75%;
}

.beerText:nth-of-type(6){
    left: 137%;
}

.beerText:nth-of-type(7){
    left: 202%;
}

.hunterText{
    position: absolute;
    display: inline-block;
    font-size: 7rem;
    top: 50%;
    color: white;
    font-family: 'Hallies';
    left: 91%;
    color: rgb(241, 199, 97);
    opacity: 0;
    animation: hunterText 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    z-index:1
}

@keyframes hunterText {
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.beerText{
    animation-name: beerText;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: translateY(100%);
    opacity: 0;
}

@keyframes beerText {
    
    0%{
        opacity: 0.5;
        transform: translateY(50%);
    }
    45%{
        opacity: 1;
        transform: translateY(0);
    }
    65%{
        opacity: 1;
        transform: translateX(10%);
    }
    80%{
        opacity: 1;
        transform: translateX(-10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.beer{
    height: 80%;
    position: relative;
    opacity: 1;
    transition: opacity transform;
    transition-duration: 2s;
}

@keyframes beer {
    
    0%{
        opacity: 0.5;
    }
    15%{
        opacity: 1;
        transform:translate(-5px,5px);
    }
    30%{
        opacity: 1;
        transform: translate(5px,5px);
    }
    45%{
        opacity: 1;
        transform: translate(5px,-5px);
    }
    60%{
        opacity: 1;
        transform: translate(-5px,-5px);
    }
    75%{
        opacity: 1;
        transform: translate(-5px,5px);
    }
    90%{
        opacity: 1;
        transform: translate(5px,5px);
    }
    100%{
        opacity: 1;
        transform: translate(5px,-5px);
    }

}

.beer.active{
    transform:translateY(50%); 
    opacity:0;
}

.textContainer{
    color: white;
    text-align: center;
    transition: opacity height;
    transition-duration: 2s;
    transition-delay: 300ms;
    min-height: 60%;
}

.home{
    display: flex;
    padding: 3rem 1rem;
}

.containerSmall{
    width: 100%;
    margin: auto;
}

.homeText{
    text-align: center;
}

.homeText h1{
    color: #F1C760;
    font-size: 7rem;
    font-family: 'Hallies';
    background-color: transparent;
    transition: background-color 200ms ease;
}

.homeText h1:hover{
   background-color:#00000069 ;
}

.homeText p{
    margin: 0;
    overflow: hidden;
    padding: 1rem;
}

.homeText p span{
    font-size: 4rem;
    color: #ffffff;
    font-weight: bolder;
    display: inline-block;
    font-family: 'DIN-BOLD';
    line-height: 3rem;
    display: none;   
}

.homeText p span.textIn{
    display: block;
    animation: textIn .5s ease;
}

@keyframes textIn {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.homeText p span.textOut{
    animation: textOut .5s ease;
}

@keyframes textOut {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}

@media screen and (max-width:1030px) {
    
    .beerText{
        font-size: 11rem;
        top: 8%;
    }
    .hunterText{
        font-size: 6rem;
        top: 52%;
        left: 90%;
    }
    
.beerText:nth-of-type(1){
    left: -158%;
}

.beerText:nth-of-type(2){
    left: -98%;
}

.beerText:nth-of-type(3){
    left: -79%;
}

.beerText:nth-of-type(4){
    left: -22%;
}

.beerText:nth-of-type(5){
    left: 80%;
}

.beerText:nth-of-type(6){
    left: 133%;
}

.beerText:nth-of-type(7){
    left: 187%;
}

}

@media screen and (max-width:870px) {
    .beerImg{
        height: 70%;
    }
    .hunterText{
        font-size: 4.4rem;
        top: 46%;
        left: 90%;
    }
    .beerText{
        font-size: 7rem;
        top: 15%;
    }
    .beerText:nth-of-type(1){
        left: -113%;
    }
    
    .beerText:nth-of-type(2){
        left: -70%;
    }
    
    .beerText:nth-of-type(3){
        left: -56%;
    }
    
    .beerText:nth-of-type(4){
        left: -11%;
    }
    
    .beerText:nth-of-type(5){
        left: 79%;
    }
    
    .beerText:nth-of-type(6){
        left: 120%;
    }
    
    .beerText:nth-of-type(7){
        left: 161%;
    }

    .homeText h1{
        font-size: 5rem;
    }
    .homeText p span{
        font-size: 3rem;
    }
}

@media screen and (max-width:726px) {
    
    .hunterText{
        font-size: 3rem;
        top: 45%;
        left: 90%;
    }
}

@media screen and (max-width:650px) {

    .beerImg{
        height: 62%;
    }
    .hunterText{
        font-size: 2.7rem;
        top: 41%;
        left: 90%;
    }
    .beerText{
        font-size: 5rem;
        top: 16%;
    }
    .beerText:nth-of-type(1){
        left: -84%;
    }
    
    .beerText:nth-of-type(2){
        left: -52%;
    }
    
    .beerText:nth-of-type(3){
        left: -42%;
    }
    
    .beerText:nth-of-type(4){
        left: -10%;
    }
    
    .beerText:nth-of-type(5){
        left: 86%;
    }
    
    .beerText:nth-of-type(6){
        left: 115%;
    }
    
    .beerText:nth-of-type(7){
        left: 145%;
    }

    .homeText h1{
        font-size: 4rem;
    }
    .homeText p span{
        font-size: 2.7rem;
    }
}

@media screen and (max-width:444px) {
    .beerImg{
        height: 55%;
    }
    .hunterText{
        font-size: 2rem;
        top: 32%;
        left: 90%;
    }
    .beerText{
        font-size: 3.5rem;
        top: 12%;
    }
    .beerText:nth-of-type(1){
        left: -84%;
    }
    
    .beerText:nth-of-type(2){
        left: -56%;
    }
    
    .beerText:nth-of-type(3){
        left: -42%;
    }
    
    .beerText:nth-of-type(4){
        left: -12%;
    }
    
    .beerText:nth-of-type(5){
        left: 85%;
    }
    
    .beerText:nth-of-type(6){
        left: 112%;
    }
    
    .beerText:nth-of-type(7){
        left: 139%;
    }

    .homeText h1{
        font-size: 2.7rem;
    }
    .homeText p span{
        font-size: 2rem;
    }
}