@font-face {
    src: url(../../../Fonts/DIN-Bold.ttf);
    font-family:'DIN-BOLD';
}

.head{
    height: 116px;
    position: relative;
    z-index: 2;
}

.head header{
    background-color: #060606;
    padding: 12px;
    /* position: fixed; */
    width: 100%;
}

.marginutil{
    margin: 0;
}

.paddingutil{
    padding: 0;
}

.head header nav{
    border: 1px solid #F1C761;
    position: relative;
    height: 128px;
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navmenu1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}

.navmenu2{
    width: 30%;
    text-align: center;
}

.navmenu3{
    width: 35%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.navmenu3 li:nth-child(2) a{
    color: #F1C761;
}

.navitem{
    list-style: none;
    padding: 1rem 0rem;
    font-weight: 900;
}

.navmenu2 li::before{
    display: none;
}

.navmenu1 li{
    transition: transform 500ms ease;
    transition-delay: 100ms;
}


/* Hover drop down css start */
.navmenu1 li:nth-child(2){
    position: relative;
}

.subMenu li{
    list-style: none;
    padding: 12px;
    font-weight: 900;
}

.subMenu a{
    text-decoration: none;
    font-family: 'DIN-BOLD';
    color: #fdfdfdd6;
    transition: 0.7s ease;
    font-size: 1.1rem;
    position: relative;
}

.subMenu a:hover{
    color: #F1C761;
}

.subMenu a::after{
    content: "";
    position: absolute;
    background-color: #F1C761;
    height: 3px;
    width: 0%;
    left: 0%;
    top: 100%;
    transition: 0.3s;
}

.subMenu a:hover::after{
   width: 100%;
}

.subMenu::before{    /* css for trianle arrow */
    content: "";
    position: absolute;
    top: -1.4rem;
    left: 2rem;
    border: 0.6rem solid transparent;
    border-bottom-color: #F1C761;
}

.subMenu .subMenu::before{ 
    
    /* css for triangle arrow in nested submenu*/
    top: 0rem;
    left: -1.4rem;
    border: 0.6rem solid transparent;
    border-right-color: #F1C761;
}

.subMenu{
    width: 11rem;
    position: absolute;
    display: block;
    border-top: 3px solid #F1C761;
    background-color: #060606;
    z-index: 100;
    top: 10rem;
    opacity: 0;
    visibility: hidden; /* must not use display none because as a result element will be removed from DOM but by visibility element will remain in DOM for animation */
    transition: all 650ms ease;
}

.subMenu .subMenu{
    top: 0%;
    left :160%;
    border:none;
    border-left: 3px solid #F1C761;
}

/* now when hover on the li which have sub menu then they appear animated  */
.navmenu1 li:hover > .subMenu{
    top: 6rem;
    opacity: 1;
    visibility: visible;
}

.subMenu li:hover > .subMenu{
    left: 100%;
    top: 0%;
}

@media screen and (max-width:873px) {

   .subMenu{
        position: initial; /* here for mobile viewport removing all position property in dropdown */
        border: 3px solid transparent;
        margin-left: 0rem; /* for indentation of border */
        max-height: 0px;  /* by this the visibility none sub-menu will not take height */
        width:12rem;
    }

    .subMenu::before{
        display: none;
    }

    .navmenu1 li:hover > .subMenu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
        border-left: 3px solid #F1C761;
    }

    .subMenu li{
        transform: translateX(0%) !important;
        position: relative;
        left: -18%;  /* this will make nested dropdown come close to each other */
    }

}

/* hover drop down css end */



.navmenu2 li{
    transition: transform 500ms ease;
    transition-delay: 200ms;
}

.navmenu3 li{
    transition-property: background transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.navmenu3 li:before{
    content: ""; 
    color:transparent; 
    font-weight: bold;
    display: none;
    width: 0px; 
    margin-left: 0px;
}

.navmenu3 li{
    position: relative;
}

.navmenu3 li span{
    color: #F1C761;
    position: absolute;
    left: -1.9rem;
    font-size: 2rem;
    top: -0.1rem;
}

.navlink{
    text-decoration: none;
    font-family: 'DIN-BOLD';
    color: #fdfdfdd6;
    transition: 0.7s ease;
    font-size: 1.1rem;
    position: relative;
}

.navlink:hover{
    color: #F1C761;
}

.navlink::after{
    content: "";
    position: absolute;
    background-color: #F1C761;
    height: 3px;
    width: 0%;
    left: 0%;
    top: 100%;
    transition: 0.3s;
}

.navmenu3 li:nth-child(2) .navlink::after{
    height: 0px;
}

.navmenu3 li:nth-child(2){
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navmenu3 li:nth-child(2) span{
    position: static;
    margin-bottom: 1rem;
}

.navmenu3 li:nth-child(2):hover{
    background-color: #F1C761;
}

.navmenu3 li:nth-child(2):hover span{
    color: #060606;
} 

.navmenu3 li:nth-child(2):hover a{
    color: #060606;
}


.navlink:hover::after{
   width: 100%;
}

.navimage{
    width: 30%;
    height: 100%;
}

.hamburger{
    position: absolute;
    top: 43%;
    right: 1%;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    height: 24%;
    transform: translateY(-50%)
}

.hamburger span{
    background-color: whitesmoke;
    width: 100%;
    height: 4px;
    transition: 0.4s; 
}

/* Scroll to top css start */

.scrollTop{
    color: #F1C761;
    position: fixed;
    border-radius: 0%;
    opacity: 0;
    right: 2rem;
    bottom: 1rem;
    z-index: 1000;
    transition: 0.5s ease;
    background-color: #060606;
}

.scrollTop:hover{
    border-radius: 50%;
    background-color:#F1C761;
    color: #060606;
}

.scrollTop.active{
    opacity: 1;
    cursor: pointer;
}

.scrollTop svg{
    font-size: 4rem;
}

/* Scroll to top css end */

/* Custom cursor tracker css start */

.tracker{
  position: fixed;
  transform: translate(-50%,-50%);
  z-index: 9999;
  width: 40px;
  pointer-events: none;
  transition: all .15s;
}

.tracker img{
    width: 35px;
    height: 40px;
    object-fit: contain;
    opacity: 1;
}

/* Custom curstor tracker css end */

@media screen and (max-width:890px) {

    .hamburger{
        display: flex;
        height: 45%;
    }

    .head{
        width: 100%;
    }

    .hamburger.active span:nth-child(2){
        opacity: 0;
    }

    .hamburger.active span:nth-child(1){
        transform: rotate(44deg) translateY(8px);
    }

    .hamburger.active span:nth-child(3){
        transform: rotate(-45deg) translate(3px,-12px);
    }

    .menu{
        top: 3%;
        background-color: #060606;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        left: -100%;
        position: fixed;
        transition: all 0.3s;
        overflow-y: scroll; /* here by this when hovering on drop down , rest of the item will be moved downward so rest of item get hide below and fix this */
        overflow-x: hidden;
    }
    .head header nav{
        border: none;
        height: 46px;;
    }

    .menu.active{
        left: 0%;
    }
    
    .navmenu1{
        flex-direction: column;
        width: 100%;
    }
    .navmenu2{
        width: 100%;
    }
    .navmenu3{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .navmenu3 li:nth-child(2) , .navmenu3 li:nth-child(1){
        height: auto;
        width: 100%;
        display: block;
    }

    .navmenu1 li{
        width: 100%;
    }

    .navmenu1 li:nth-child(odd){
        transform: translateX(-12%);
    }

    .navmenu1 li:nth-child(even){
        transform: translateX(300%);
    }

    .navmenu1 li.active{
        transform: translateX(43%);
    }

    .navmenu2 li:nth-child(1){
        transform: translateX(-65%);
    }

    .navmenu2 li.active{
        transform: translateX(0%);
    }

    .navmenu3 li:nth-child(odd){
        transform: translateX(0px);
        text-align: center;
    }

    .navmenu3 li:nth-child(even){
        transform: translateX(0px);
        text-align: center;
    }

    .navmenu3 li:nth-child(2) span , .navmenu3 li:nth-child(1) span{
        position: static;
    }

    .head{
        height: 70px;
    }

    .navmenu3{
        display: flex;
        justify-content: space-around;
        height: auto;
        align-items: normal;
    }
    
}

@media screen and (max-width:850px) {
    
    .tracker{
       display: none;
    }
    .navlink{
        font-size: 2.4rem;
    }
    .navitem{
        padding: 2rem 0rem;
    }
    .navmenu1 li:nth-child(odd){
        transform: translateX(-12%);
    }
    .navmenu1 li:nth-child(even){
        transform: translateX(300%);
    }
    .navmenu1 li.active{
        transform: translateX(43%);
    }
    .navmenu3 li span{
        font-size: 4rem;
    }
    .subMenu{
        margin-left: 1rem;
    }
    .subMenu a{
        font-size: 2rem;
    }
}

@media screen and (max-width:600px) {
    .navlink{
        font-size: 1.2rem;
    }
    .navmenu1 li:nth-child(odd){
        transform: translateX(-12%);
    }

    .navmenu1 li:nth-child(even){
        transform: translateX(300%);
    }
    .navmenu1 li.active{
        transform: translateX(45%);
    }
    .navitem{
        padding: 1rem 0rem;
    }
    .navmenu3 li span{
        font-size: 2rem;
    }
    .subMenu{
        margin-left: 0.4rem;
    }
    .subMenu a{
        font-size: 1rem;
    }
}

@media screen and (max-width:450px) {
    
    .navlink{
        font-size: 1.6rem;
    }
    .navmenu1 li:nth-child(odd){
        transform: translateX(-12%);
    }

    .navmenu1 li:nth-child(even){
        transform: translateX(300%);
    }
    .navmenu1 li.active{
        transform: translateX(40%);
    }
}

@media screen and (max-width:400px) {
    
    .navlink{
        font-size: 1.1rem;
    }
    .navmenu1 li:nth-child(odd){
        transform: translateX(-12%);
    }

    .navmenu1 li:nth-child(even){
        transform: translateX(300%);
    }
    .navmenu1 li.active{
        transform: translateX(43%);
    }
    .subMenu{
        margin-left: 0.1rem;
    }
    .subMenu a{
        font-size: 0.8rem;
    }
}