.ReservationContainer{
    min-height: 50vh;
    background-color: var(--background-color);
    padding: 3rem 1rem 1rem 1rem;
}

.resMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upperHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upperHeader p{
    width: 80%;
    font-family: 'DIN-LIGHT';
    color: #746969;
    text-align: center;
    font-weight: bolder;
    margin: 1rem 0rem;
    font-size: 1rem;
}

.upperHeader h1{
    font-family: 'DIN-BOLD';
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: bold;
    word-spacing: 0px;
    letter-spacing: -3px;
    text-align: center;
}

.upperForm{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.upperForm form{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.input{
    position: relative;
    width: 17%;
}

.input a{
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.input select{
    cursor: pointer;
}

.input input,select,button{
    padding: 1.4rem 0.8rem;
    width: 100%;
    height: 99%;
    text-align: center;
    color: #746969;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
    border-width: medium;
    border-color: #746969;
    border-style: solid;
    background-color: transparent;
}

.input button{
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: none;
    position: relative;
    z-index: 1;
}

.input button::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: -1;
}

.input button:hover::before{
    width: 100%;
}

.input button:hover{
    color: #ffffff;
}

.input select option{
    font-size: 1.2rem;
    color: #746969;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
    background-color: var(--secondary-color);
}

.resLower{
    margin-top: 4rem;
}

.calClass{
    font-family: 'DIN-LIGHT';
    background-color: var(--background-color);
}

@media screen and (max-width:1128px) {
    
    .upperForm form{
        width: 86%;
        flex-wrap: wrap;
    }

    .input{
        width: 42%;
        margin: 0.4rem;
    }

    .upperForm form .input:last-child{
        width: 90%;
    }
}

@media screen and (max-width:1111px) {
    
    .colCard:nth-of-type(1){
         width: 36%;
    }
    .colCard:nth-of-type(2){
        width: 58%;
    }
}

@media screen and (max-width:950px) {
    
    .upperHeader p{
        text-align: justify;
    }
    .colCard:nth-of-type(1){
        padding: 1rem 0rem 1rem 0rem !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .colCard:nth-of-type(2){
        padding: 1rem 0rem 1rem 0rem !important;
    }
}

@media screen and (max-width:791px) {
    
   .colCard:nth-of-type(1){
        width: 100%;
   }
   .colCard:nth-of-type(2){
       width: 100%;
       margin-top: 1rem;
   }
}

@media screen and (max-width:724px) {
    
    .upperForm form{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 90%;
        margin: 0.2rem;
    }

}

.colCard{
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--card-background-color);
    width: 45%;
}

.colCard:nth-of-type(1){
    padding: 4rem 1rem 3rem 1rem;
}

@media screen and (max-width:550px) {
    
    .upperHeader h1{
       font-size: 2rem;
    }

    .upperHeader p{
        width: 90%;
        text-align: justify;
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    .colCard:nth-of-type(1){
        padding: 2rem 2rem !important;
    }
    .colCard:nth-of-type(2){
        padding: 1rem 0rem 2rem 0rem !important;
    }

}

@media screen and (max-width:414px) {
    
    .upperHeader h1{
       font-size: 1.7rem;
    }

    .upperHeader p{
        width: 90%;
        text-align: justify;
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

}

@media screen and (max-width:300px) {
    
    .colCard:nth-of-type(1){
        padding: 1rem !important;
    }

}