@font-face {
    font-family: 'DIN-BOLD';
    src: url(../../../Fonts/DIN-Bold.ttf);
}

@font-face {
    font-family: 'DIN-LIGHT';
    src: url(../../../Fonts/DIN-Light.ttf);
}

.TestimonialContainer{
    height: 75vh;
    padding: 1rem;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
}

.TestimonialContainer h1{
    position: absolute;
    top: 4%;
    color: #F1C761;
    font-size: 2.3rem;
    font-family: 'DIN-BOLD';
}

.TestimonialMain{
    width: 70%;
    margin-top: 3rem
}

.Testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonialImg{
    width: 157px;
    height: 157px;
    border: 4px solid #F1C761;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40%;
}

.testimonialText{
    width: 75%;
    margin-top: 1rem;
}

.testimonialText p{
    text-align: center;
    margin: 0px;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
    margin: 1rem 0rem;
}

.testimonialText h4{
    text-align: center;
    font-family: 'DIN-BOLD';
    color: #98f9f5;
    margin: 0px;
}

.testimonialText h4 span{
    color: #F1C761;
}

@media screen and (max-width:950px) {
    
    .TestimonialMain{
        width: 90%;
    }
    .testimonialText{
        width: 82%;
        margin-top: 1rem;
    }
    .TestimonialContainer h1{
        top: 3%;
        font-size: 2rem;
    }

    .TestimonialMain{
        margin-top: 1rem
    }

}

@media screen and (max-width:773px) {
    
    .TestimonialMain{
        width: 100%;
    }

    .TestimonialContainer h1{
        top: 3%;
        font-size: 1.5rem;
    }

    .testimonialText p{
        font-size: 0.8rem;
    }
    
    .testimonialText h4{
       font-size: 1.3rem;
    }

    .TestimonialMain{
        margin-top: 0rem
    }
    
}