.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 1.5rem !important;
    line-height: 1;
    opacity: 1 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--main-color) !important;
}

.slick-prev {
    position: absolute;
    left: 1% !important;
    z-index: 1;
}

.slick-next {
    right: 1% !important;
    z-index: 1;
}

@media screen and (max-width:560px) {
     
    .slick-prev:before, .slick-next:before{
        font-size: 1rem !important;
    }
}