.modalBackground{
    z-index: 2;
    top:0%;         
    left:0%;    
    right: 0%;
    bottom: 0%;    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modalBackground 600ms 1 ease;
    animation-fill-mode: forwards;
}

@keyframes modalBackground {
    
    50%{
      background-color: #0f0f0fd0;
    }
    100%{
        background: #111111ee;
    }
}
