@font-face {
    src: url(../../Fonts/DIN-Bold.ttf);
    font-family:'DIN-BOLD';
}
@font-face {
    src: url(../../Fonts/DIN-Light.ttf);
    font-family:'DIN-LIGHT';
}

.bodyContainer{
    min-height: 80vh;
    background-color: #EFEDE8;
    padding: 1rem;
    overflow: hidden;
}

.mainBody{
   height: 100%;
}

.bodyOne{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.bodyHeading{
    display: flex;
    justify-content: center;
}

.bodyHeading h2{    
    width: 76%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'DIN-Bold';
    color: #1E1E1E;
}

.bodyOneText{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bodyOneText p{
    width: 60%;
    text-align: center;
    color: #746969;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
}

@media screen and (max-width:964px) {
    
    .bodyHeading h2{
        width: 80%;
        font-size: 2.2rem;
    }
    .bodyOneText p{
        width: 75%;
    }

}

@media screen and (max-width:680px) {
    
    .bodyHeading h2{
        width: 80%;
        font-size: 1.8rem;
    }
    .bodyOneText p{
        width: 80%;
    }

}

@media screen and (max-width:585px) {
    
    .bodyHeading h2{
        width: 100%;
        font-size: 1.6rem;
    }
    .bodyOneText p{
        width: 90%;
    }

}

@media screen and (max-width:436px) {
    
    .bodyHeading h2{
        width: 100;
        font-size: 1.4rem;
    }
    .bodyOneText p{
        width: 100%;
    }
}

.bodyTwo{
    width: 100%;
}

/* css related to intersection observer */
.fadeIn{
    opacity: 0;
    transform: translateY(25px);
    transition: 400ms ease;
}

.fadeIn.appear{
    opacity: 1;
    transform: translateY(0px);
}

.slideIn{
    opacity: 0;
    transform: translateY(30px);
    transition: 400ms ease;
}

.slideIn.appear{
    opacity: 1;
    transform: translateY(0px);
}