@font-face {
    font-family: "DIN-BOLD";
    src: url(../../Fonts/DIN-Bold.ttf);
}

@font-face {
    font-family: 'DIN-LIGHT' ;
    src: url(../../Fonts/DIN-Light.ttf);
}

.ReservationContainer{
    min-height: 120vh;
    background-color: #EFEDE8;
    padding: 3rem 1rem 1rem 1rem;
}

.resMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resUpper{

}

.upperHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upperHeader p{
    width: 70%;
    font-family: 'DIN-LIGHT';
    color: #746969;
    text-align: center;
    font-weight: bolder;
    margin-top: 1.5rem;
}

.upperHeader h1{
    font-family: 'DIN-BOLD';
    color: #1E1E1E;
    font-size: 4rem;
    font-weight: bold;
    word-spacing: 0px;
    letter-spacing: -3px;
}

.upperForm{
    display: flex;
    justify-content: center;
}

.upperForm form{
    display: flex;
    justify-content: space-evenly;
    width: 67%;
}

.input{
    position: relative;
    width: 20.2%;
}

.input a{
  width: 100%;
  height: 100%;
}

.input input,select,button{
    padding: 0.6rem 0.2rem;
    width: 100%;
    height: 92%;
    text-align: center;
    color: #746969;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
    border-width: medium;
    border-color: #746969;
    border-style: solid;
    background-color: transparent;
}

.input button{
    background-color: #1E1E1E;
    color: #ffffff;
}

.input select option{
    font-size: 1.2rem;
    color: #746969;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
    background-color: #1E1E1E;
}

.resLower{
    margin-top: 4rem;
}

