@font-face {
    font-family: "DIN-BOLD";
    src: url(../../Fonts/DIN-Bold.ttf);
}

@font-face {
    font-family: 'DIN-LIGHT' ;
    src: url(../../Fonts/DIN-Light.ttf);
}

.ReservationContainer{
    min-height: 120vh;
    background-color: #EFEDE8;
    padding: 3rem 1rem 1rem 1rem;
}

.resMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upperHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upperHeader p{
    width: 70%;
    font-family: 'DIN-LIGHT';
    color: #746969;
    text-align: center;
    font-weight: bolder;
    margin-top: 1.5rem;
}

.upperHeader h1{
    font-family: 'DIN-BOLD';
    color: #1E1E1E;
    font-size: 4rem;
    font-weight: bold;
    word-spacing: 0px;
    letter-spacing: -3px;
    text-align: center;
}

.upperForm{
    display: flex;
    justify-content: center;
}

.upperForm form{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
}

.input{
    position: relative;
    width: 20.2%;
}

.input a{
  width: 100%;
  height: 100%;
}

.input input,select,button{
    padding: 1.4rem 0.8rem;
    width: 100%;
    height: 99%;
    text-align: center;
    color: #746969;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
    border-width: medium;
    border-color: #746969;
    border-style: solid;
    background-color: transparent;
}

.input button{
    background-color: #F1C761;
    color: #1E1E1E;
    border: none;
    position: relative;
    z-index: 1;
}

.input button::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #1E1E1E;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: -1;
}

.input button:hover::before{
    width: 100%;
}

.input button:hover{
    color: #ffffff;
}

.input select option{
    font-size: 1.2rem;
    color: #746969;
    font-family: 'DIN-LIGHT';
    font-weight: bolder;
    background-color: #1E1E1E;
}

.resLower{
    margin-top: 4rem;
}

.calClass{
    font-family: 'DIN-LIGHT';
    background-color: #EFEDE8;
}

@media screen and (max-width:1128px) {
    
    .upperForm form{
        width: 86%;
        flex-wrap: wrap;
    }

    .input{
        width: 42%;
        margin: 0.4rem;
    }
}

@media screen and (max-width:724px) {
    
    .upperForm form{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 90%;
        margin: 0.2rem;
    }

}

.colCard{
    padding: 3rem 1rem 3rem 1rem;
    background-color: #E4DFD9;
    width: 45%;
}

@media screen and (max-width:1111px) {
    
    .colCard:nth-of-type(1){
         width: 36%;
    }
    .colCard:nth-of-type(2){
        width: 58%;
    }
}

@media screen and (max-width:791px) {
    
   .colCard:nth-of-type(1){
        width: 100%;
   }
   .colCard:nth-of-type(2){
       width: 100%;
       margin-top: 1rem;
   }
}