*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DIN-BOLD';
    src: url(./Fonts/DIN-Bold.ttf);
}
@font-face {
    font-family: 'DIN-LIGHT';
    src: url(./Fonts/DIN-Light.ttf);
}
@font-face {
    font-family: 'Hallies';
    src: url(./Fonts/Hallies.ttf);
}
@font-face {
    font-family: 'HunterRiver';
    src: url(./Fonts/HunterRiver-Regular.otf);
}

/* All font-family and colors being used in website */
:root {
    --main-color:#F1C761;
    --secondary-color:#1E1E1E;
    --background-color:#EFEDE8;
    --card-background-color:#E4DFD8;
}

body{
    overflow-x: hidden;
}

/* custom scrollbar css */

::-webkit-scrollbar{
    width: 1vw;
}

::-webkit-scrollbar-track{
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb{
    background-color: #f1c86050;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--main-color);
}
